@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 320px) / (720)));
  @media screen and (max-width: 1280px) {
    font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 375px) / (1280 - 500)));
  }
  @media screen and (max-width: 500px) {
    font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 375px) / (500 - 375)));
  }
}

.portfolio {
  margin: 0;
  padding: 113px 0 96px 0;
  background: #F6F6F6;
}

.portfolio__title {
  @include adaptiv-font(34,32);
  margin: 0;
  padding-bottom: 47px;
  color: #070707;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portfolio__list {
  padding: 0 0 0 0;
  margin: 0 auto;
  width: 65%;
  list-style-type: none;
}

.portfolio__link {
  @include adaptiv-font(20,16);
}

.portfolio__item {

}

.portfolio__item:not(:first-child) {
  padding-top: 99px;
}

.portfolio__example {
  padding: 0 0 0 0;
  margin: 0;
}

.portfolio__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio__caption {
  padding: 45px 0 0 0;
  margin: 0;
  text-align: center;

  text-decoration-line: underline;
}

.portfolio__link {
  @include adaptiv-font(18,16);
  color: #070707;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media screen and (max-width: 1280px) {
  .portfolio {
    padding: calc(40px + (113 - 40) * ((100vw - 375px) / (1280 - 375))) 0 calc(40px + (96 - 40) * ((100vw - 375px) / (1280 - 375))) 0;
  }

  .portfolio__list {
    width: 75%;
  }

  .portfolio__caption {
    padding: calc(15px + (45 - 15) * ((100vw - 375px) / (1280 - 375))) 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__list {
    width: 90%;
  }
  .portfolio__item:not(:first-child) {
    padding-top: 45px;
  }
}