@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 1280px) / (720)));

}

.promo {
  width: 65%;
  margin: 0 auto;
  padding: 0 0 104px 0;
}

.promo__container {
  padding: 40px 0 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo__title {
  @include adaptiv-font(47,45);
  margin: 0;
  color: #070707;
  max-width: 95px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__job {
  @include adaptiv-font(18,16);
  margin: 0;
  color: #070707;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__image {
  width: 100%;
  height: 387px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .promo {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    width: 84%;
  }
}