@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 1280px) / (720)));
  @media screen and (max-width: 1280px) {
    font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 375px) / (1280 - 500)));
  }
  @media screen and (max-width: 500px) {
    font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 375px) / (500 - 375)));
  }

}

.promo {
  width: 65%;
  margin: 0 auto;
  padding: 0 0 104px 0;
}

.promo__container {
  padding: 40px 0 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo__title {
  @include adaptiv-font(47,45);
  margin: 0;
  color: #070707;
  max-width: 95px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__job {
  @include adaptiv-font(27,24);
  margin: 0;
  color: #070707;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__image {
  width: 100%;
  height: calc(387px + (478 - 387) * ((100vw - 375px) / (1445 - 375)));
  object-fit: cover;
  object-position: center top;
}

.promo__job-conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .promo {
    width: 75%;
  }

  .promo__image {
    object-position: center center;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    width: 84%;
  }
}