@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 1280px) / (720)));
}

.skills {
  box-sizing: border-box;
  width: 65%;
  margin: 0 auto;
  padding: 91px 0 110px 0;
}

.skills__title {
  @include adaptiv-font(34,32);
  margin: 0;
  text-align: center;
  padding-bottom: 69px;
}

.skills__paragraph {
  @include adaptiv-font(18,16);
  margin: 0;
  text-align: center;
  padding-bottom: 84px;
}

.skills__list {
  padding: 0 0 0 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 49%;
}

.skills__name {
  margin: 0;
  text-align: center;
}

.skills__image {
  width: calc(89px + (120 - 89) * ((100vw - 320px) / (1445 - 375)));
  height: calc(89px + (120 - 89) * ((100vw - 320px) / (1445 - 375)));
  background: transparent;
}

@media screen and (max-width: 1280px) {
  .skills {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .skills {
    width: 84%;
  }
  .skills__list {
    flex-direction: column;
    gap: 82px;
  }
  .skills__item {
    text-align: center;
  }
}