.skills {
  box-sizing: border-box;
  max-width: 65%;
  margin: 0 auto;
  padding: 91px 0 110px 0;
}

.skills__title {
  margin: 0;
  text-align: center;
  padding-bottom: 69px;
}

.skills__paragraph {
  margin: 0;
  text-align: center;
  padding-bottom: 84px;
}

.skills__list {
  padding: 0 0 0 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 49%;
}

.skills__name {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .skills {

  }
}

@media screen and (max-width: 320px) {
  .skills {

  }
}