@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 1280px) / (720)));

}

.footer {
  margin: 0 auto;
  max-width: 49%;
  min-height: 100%;
  padding: 114px 0 123px 0;
}

.footer__title {
  @include adaptiv-font(34,32);
  margin: 0;
  color: #070707;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.footer__paragraph {
  @include adaptiv-font(18,16);
  margin: 0;
  color: #070707;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 27px;
}

.footer__feedback {
  @include adaptiv-font(18,16);
  display: block;
  margin: 0 auto;
  width: calc(180px + (220 - 180) * ((100vw - 375px) / (1445 - 375)));
  height: calc(42px + (50 - 42) * ((100vw - 375px) / (1445 - 375)));
  background: #070707;
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.footer__contacts {
  padding: 87px 0 0 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 49%;
}

.footer__item{
  width: calc(40px + (70 - 40) * ((100vw - 320px) / (1445 - 375)));
  height: calc(40px + (70 - 40) * ((100vw - 320px) / (1445 - 375)));
}

.footer__button {
  width: calc(40px + (70 - 40) * ((100vw - 320px) / (1445 - 375)));
  height: calc(40px + (70 - 40) * ((100vw - 320px) / (1445 - 375)));
  border: none;

}

.footer__like-me {
  @include adaptiv-font(14,12);
  padding-top: 46px;
  margin: 0;
  color: #828282;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 75%;
  }

  .footer__contacts {
    max-width: 75%;
  }

}

@media screen and (max-width: 500px) {
  .footer {
    max-width: 84%;
  }

  .footer__contacts {
    max-width: 84%;
    gap: 15px;
  }

  .footer__feedback {
    width: 100%;
  }
}