@mixin adaptiv-font($pcSize, $mobSize) {
  font-size: calc(#{$mobSize + px} + #{$pcSize - $mobSize} * ((100vw - 1280px) / (720)));
}
.about-me {
  margin: 0;
  padding: 120px 0 107px 0;

  background: #F6F6F6;
}

.about-me__title {
  @include adaptiv-font(34,32);
  margin: 0;
  color: #070707;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 18px;
}

.about-me__paragraph {
  @include adaptiv-font(18,16);
  margin: 0 auto;
  max-width: 49%;
  color: #070707;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-me__paragraph:not(:last-child) {
  padding-bottom: 54px;
}

@media screen and (max-width: 1280px) {
  .about-me {

  }

  .about-me__paragraph {
    max-width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .about-me {

  }

  .about-me__paragraph {
    max-width: 84%;
  }
}